<div class="container-fluid m-5">
    <div>
        <h1>{{user.name}}</h1>
    </div>

    <div>
        <p>e-mail: {{user.email}}</p>
        <p>dirección: {{user.address}}</p>
        <p>teléfono: {{user.phoneNumber}}</p>

        <div>
            <img src={{user.img}} alt="Avatar">
        </div>
    </div>
</div>